{% extends '::base.html.twig' %}
{% block title %}{% endblock %}

{% block  stylesheets %}
<link rel="shortcut icon" href="{{ asset('animal.png') }}" >
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/bootmetro-icons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/bootmetro-responsive.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/bootmetro-ui-light.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/bootmetro-icons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/bootmetro.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/min/bootmetro-icons.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/min/bootmetro-responsive.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/min/bootmetro-ui-light.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/min/bootmetro.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sigivet/css/min/style.css') }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div  class="well well-large degradado menu trim">
{% block superior %}

{% endblock %}	
</div>
<div class="container trim tamano">
<div class="well trim">
{% block modulo %}

{% endblock %}

{% block miga %}

{% endblock %}

{% block contenido %}

{% endblock %}
</div>
</div>
{% block inferior %}

{% endblock %}	


{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootmetro-charms.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootmetro-icons-ie7.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootmetro-panorama.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootmetro-pivot.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery-1.10.0.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery-1.10.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery.mousewheel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery.mousewheel.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery.touchSwipe.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/jquery.touchSwipe.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/modernizr-2.6.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootmetro-charms.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootmetro-icons-ie7.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootmetro-panorama.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootmetro-pivot.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootmetro.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/function.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sigivet/js/min/usuario.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>

{% endblock %}
